.header-nav{
    background-color: #3ebbd3;
    height: 18vw;
}
.title-header{
    color:white;
    padding-top:5%;
    padding-left: 5%;
    font-size:1.5em;
}

.image-cb{
    width:90vw;
    margin: auto;
    display: flex;
    margin-bottom: 10px;
    border-radius: 10px;
}

.bouton-orange{
    text-align: center;
    color: #467192;
    }
    .btn-warning {
    color: #467192;
    background-color: #FAAC54;
    border-color: #FAAC54;
    border-radius: 15px;
    font-weight: 500;
    margin-bottom: 3vw;
    width: 82%;
    margin-top: 10px;}
    .p-impacter{
    font-size: 1.3em;
    }
.image-thankYou{
    width:95vw;
    margin: auto;
    display: flex;
}

.montant{
    width: 100vw;
display: inline-flex;
margin: auto;
justify-content: space-around;
}

.montantPaiement{
   background-color: grey;
   border-radius: 10px;
   width: 180px;
   text-align: center;
}