.header-nav{
    background-color: #3ebbd3;
    height: 18vw;
}
.title-header{
    color:white;
    padding-top:5%;
    padding-left: 5%;
    font-size:1.5em;
}

.image-cb{
    width:90vw;
    margin: auto;
    display: flex;
}

.bouton-orange{
    text-align: center;
    color: #467192;
    }
    .btn-warning {
    color: #467192;
    background-color: #FAAC54;
    border-color: #FAAC54;
    border-radius: 15px;
    font-weight: 500;
    margin-bottom: 3vw;
    width: 82%;
    margin-top: 10px;}
    .p-impacter{
    font-size: 1.3em;
    }
.image-thankYou{
    width:95vw;
    margin: auto;
    display: flex;
}
.totalBox1{
    width: 15vw;
    height: 7vw;
    background-color: grey;
    border-radius: 5px;
    margin-top: 15px;
    padding: 4px;
        padding-left: 4px;
    padding-left: 61px;
    margin-left: 10px;
}


.totalBox{
    width: 15vw;
    height: 7vw;
    background-color: grey;
    border-radius: 5px;
    margin-top: 15px;
    padding: 4px;
        padding-left: 4px;
        margin-right: 10px !important;
   }
    

