.min-view{
    min-height: 100vh;
}
.header-nav{
    background-color: #3ebbd3;
    height: 18vw;
    width: 100%;
    display: inline-flex;
    
}
.title-header{
    color: white;
    padding-top: 5%;
    padding-left: 5%;
    font-size: 1.5em;
}
.logo-harmonia-small{
    vertical-align: middle;
    display: table-cell;
    width: 18%; 
    margin-left: 17%;
}
.logo-centre{
    width: 80%;    
    margin-left: auto;
    margin-right: auto;
    text-align: center;       
}
.image-logo-centre{
    width: 100%;
}
p{
    margin-left: 11px;
    margin-right: 11px;
}
.p-top{
    margin-top: 11px;
    margin-right: 6px;
}
.bouton-orange{
    text-align: center;
    color: #467192;
    padding-bottom: 4vw;
}
.btn-warning {
    color: #467192;
    background-color: #faac54;    
    border-radius: 15px;
    font-weight: 500;
    margin-bottom: 4vw;
    width: 90%;
}
.btn-warning:hover {
    color: white;
    background-color: #faac54;
    border-color: #faac54;
}
.btn-warning:not(:disabled):not(.disabled).active, .btn-warning:not(:disabled):not(.disabled):active, .show>.btn-warning.dropdown-toggle {
    color: white;
    background-color: #faac54;
    border-color: #faac54;
}
.p-impacter{
    font-size: 1.3em;
}
.carousel{
    max-height: 240px;
    position: relative;
    overflow-y: hidden;
}
.container-slide{
    padding-right: 0;
    padding-left:  0;
}
.row-slide{
    margin-left: 0;
    margin-right: 0;
}
.col-slide{
    padding-right: 0;
    padding-left: 0;
}
.img-slide{
    vertical-align: middle;
    border-style: none;
    width: 100%;
    min-height: 230px;
}
.slide-slogan{
    font-weight: bold;
    font-size: 5vw;
    padding-left: 3vw;
    padding-right: 3vw;
    background-color: #fdf9f9ad;
}
.carousel-caption{
    position: absolute;
    right: 15%;    
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #2196F3;
    text-align: center;
    top: 4px;
}
